<div class="category-field">
<!--  <button (click)="sortProducts()">-->
<!--    {{ isSorted ? 'Drop' : 'Sort (asc)' }}-->
<!--  </button>-->
  @for (category of categories; track category) {
    <button class="category-button"
            type="button"
            (click)="setProducts(category.id)"
            [class.active]="category.id === selectedId">
      {{category.name}}
    </button>
  }
</div>

<div class="product-list">
  @for (product of printedProducts; track product.id) {
    <app-product-card [product]="product" (productLike)="handleLikes($event)"></app-product-card>
  }
</div>
