* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.head-foot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  min-height: 100px;

  background: #f0f0f0;
  font-weight: 600;
}

header {
  font-size: 48px;
  border-bottom: 1px solid #c9c9c9;
}

header p {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 4px;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main-content {
  width: 80%;
}

.ad-space {
  width: 10%;
  text-align: center;
  color: #a0a0a0;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  position: sticky;
  top: 20px;
}

.ad-space p {
  border: 2px dashed #c9c9c9;
  padding: 40px 10px;
  border-radius: 10px;
}

footer {
  border-top: 1px solid #c9c9c9;
  font-size: 18px;
  color: #bbb;
}
footer p {
  font-size: 22px;
}
