<div class="product-card">
  <div class="image-container">
    <img [src]='product().image' [alt]="product().name" class="product-image" />

    <div class="gallery">
      @for (img of product().images; track img) {
        <img
          [src]="img"
          (click)="changeMainImage(img)"
          [class.active-thumbnail]="product().image === img"
          class="thumbnail"
          alt="Gallery"
        />
      }
    </div>
  </div>
  <div class="product-info">
    <h2>{{product().name}}</h2>
    <p class="description">{{product().description}}</p>
    <div class="rating">
      <div class="stars-wrapper">
        <div class="stars-empty">★★★★★</div>
        <div class="stars-filled" [style.width.%]="(product().rating / 5) * 100 - 2">★★★★★</div>
      </div>
      <span class="rating-badge">{{ product().rating }}</span>
    </div>
    <p class="price">{{ product().price | number:'1.0-2'}}<span class="currency">₸</span> </p>
    <div class="action-buttons">
      <div class="likes">
        <button class="like-button" (click)="likeClick()">
          ♥
        </button>
        <span>{{product().likes}}</span>
      </div>
      <button class="delete-button" (click)="deleteClick()">
        Delete
      </button>
    </div>
    <div class="references">
      <a [href]="product().link" target="_blank" class="kaspi-button">Buy on Kaspi.kz</a>
      <a [href]="getWhatsAppLink()" target="_blank" class="whatsapp-button"><img class="wa-logo" ngSrc="/wa-logo.png" alt="WhatsApp" width="32" height="32"></a>
      <a [href]="getTelegramLink()" target="_blank" class="telegram-button"><img class="tg-logo" ngSrc="/tg-logo.svg" alt="Telegram" width="32" height="32"></a>
    </div>
  </div>
</div>
